body{
	width: 100%;
	  background: rgb(247,247,247);
	  background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(32,248,255,1) 100%); }
h1{
	text-align: center;
}
.radioBoton:hover {
    background-color: #a9ffd4;
}
.question:checked{
	background-color: red;

}

button:hover {
	filter: invert(100%);
}

input[type="radio"]:checked + label {
	background-color: #20f8ff;
}

fieldset {
	border-radius: 5%;
	background-color: white;
	border: 2px ridge;
}

.topButton {
	height: 13px;
	width: 13px;
}

.contenedor1, .contenedor2, .contenedor3 {
	width: 40%;
	align-self: center;
}

#oculto1, #oculto2, #oculto3, #oculto4, #oculto5{
	height: 20px;
	float:right;	
}
