body{
	width: 90%;
}

.question:hover {
    background-color: yellow;
}

.topButton {
	height: 13px;
	width: 13px;
}

.contenedor1, .contenedor2, .contenedor3 {
	width: 40%;
}

#oculto1, #oculto2, #oculto3, #oculto4, #oculto5{
	height: 20px;
	float:right;	
}