body{
	width: 90%;
}

.question:hover {
    background-color: #d2ff83;
}

button:hover {
	background-color: orange; 
}

.topButton {
	height: 13px;
	width: 13px;
}

.contenedor1, .contenedor2, .contenedor3 {
	width: 40%;
}